.badge-banner {
  position: absolute;
  z-index: 99;
  padding: 2rem;
  text-align: center;
  text-shadow: 0 2px 5px rgba($midnight, .2);

  > .title {
    color: $white;
    font-family: 'casmiraregular', sans-serif;
    font-size: 3em;
  }

  > .meta {
    color: $white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0;
  }

  .hilight {
    font-style: uppercase;
    display: block;
    font-size: 2em;
  }

  &:before{
    @extend %block-content;
    @include size(100%, 100%);
    background-color: rgba($white, .16);
    box-shadow: 0 0 0 1px rgba($white, .3);
    left: 0;
    top: 0;
    z-index: -1;
  }

  &.-v1 {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  @include mappy-query(tablet) {
  // stuff
    > .title {
      font-size: 10em;
    }

    &.-v1 {
      top: 6rem;
    }
  }

  @include mappy-query(desktop) {
  // stuff
    > .title {
      font-size: 15em;
    }

    > .meta {
      font-size: 2em;
    }

    &.-v1 {
      top: 8rem;
    }
  }

  @include mappy-query(tv) {
  // stuff
    > .title {
      font-size: 20em;
    }

    > .meta {
      font-size: 2em;
    }

    &.-v1 {
      top: 11rem;
    }
  }
}
