.badge-banner {
  padding: 2rem;
  text-align: center;
  text-shadow: 0 2px 5px rgba($midnight, .2);

  > .title {
    color: $white;
    font-family: 'casmiraregular', sans-serif;
    font-size: 3em;
  }

  > .meta {
    color: $white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0;
    animation-delay: 1s;
  }

  .hilight {
    font-style: uppercase;
    display: block;
    font-size: 2em;
  }

  // =================================
  // Hero style badge
  //==================================
  &.-hero {
    > .title {
      font-size: 6em;
    }

    > .meta {
      font-size: 1.5em;
    }

    @include mappy-query(tablet) {
      > .title {
        font-size: 8em;
      }
    }
  }

  // =================================
  // v1 style badge
  //==================================
  &.-v1 {
    @include size(20em, 20em);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 100;

    &:before{
      @extend %block-content;
      @include size(100%, 100%);
      background-color: rgba($white, .16);
      box-shadow: 0 0 0 1px rgba($white, .3);
      left: 0;
      top: 0;
      z-index: -1;
    }

    @include mappy-query(phone) {
      > .meta {
        margin-top: 0;
      }
    }

    @include mappy-query(tablet) {
      @include size(40em, 20em);
      // stuff
      > .title {
        font-size: 10em;
      }

      &.-v1 {
        top: 6rem;
      }
    }

    @include mappy-query(desktop) {
      @include size(60em, 40em)
      // stuff
      > .title {
        font-size: 15em;
      }

      > .meta {
        font-size: 2em;
      }

      &.-v1 {
        top: 8rem;
      }
    }

    @include mappy-query(tv) {
      @include size(80em, 40em)
      // stuff
      > .title {
        font-size: 20em;
      }

      > .meta {
        font-size: 2em;
      }

      &.-v1 {
        top: 11rem;
      }
    }
  }
}

