html,
body {
  height: 100%;
  position: relative;
  width: 100%;
}

body {
  color: $p-font;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  transform: translateZ(0);
  transition: all 1.5s ease-in-out;
  transition-delay: .5s;
  // overflow-y: auto;
}


// font h1 - h6 style
@for $i from 1 through 6 {
  h#{$i} {
    color: $h-font;
    font-family: 'Montserrat', sans-serif;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
