
html,
body {
  position: relative;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $p-font;
  overflow-x: hidden;
  overflow-y: auto;
}


// font h1 - h6 style
@for $i from 1 through 6 {
  h#{$i} {
    color: $h-font;
    font-family: 'Montserrat', sans-serif;
  }
}
