.btn-block {
  color: $black;

  &.-circle {
    background-color: $light-gray;
    border-radius: 50%;
    padding: 1.2rem 1.6rem;
  }

  &.-menu {
    background-color: $light-gray;
    border-radius: 5px;
    padding: 1.2rem 1rem;
  }
}