.btn-block {
  background-color: $white;
  border: 1px solid rgba($black, .2);
  color: $black;

  &.-sm {
    @include size(46px, 46px);
  }

 &.-md {
    @include size(60px, 60px);

    @include mappy-query(phone) {
      @include size(46px, 46px);
    }
  }

  &.-minimal {
    border: 1px solid rgba($black, .6);
    border-radius: 50%;
    padding: 1.3rem;
  }

  &.-circle {
    border-radius: 50px;
    padding: 1.3rem;
  }

  &.-menu {
    border-radius: 5px;
    padding: 1.2rem 1rem;
  }
}

// #search-btn {
//   position: absolute;
//   left: -50px;
//   // width: 44px;


//   input {
//     display: none;
//     border: 0;
//     padding-left: 4rem;
//   }

//   // .glyphicon {
//   //   // position: absolute;
//   //   padding: 1.5rem;
//   // }
// }
