._fade-out {
  opacity: 0 !important;
  transition: opacity 1s ease;
}

._loaded {
  overflow-y: scroll;
}

._mg-top-sm {
  margin-top: 3rem !important;
}

._slideup {
	transform: translateY(-100%);
}
