.img-feature {
  @include clearfix();
  position: relative;
  margin-bottom: 1rem;

  // =================================
  // Thumb images
  //==================================
  > .thumb {
    @include clearfix();
    height: 0;
    overflow: hidden;
    padding-bottom: 23rem;
    position: relative;
  }

  > .thumb.-sm {
    @include mappy-query(tv) {
      padding-bottom: 34.2rem;
    }
  }

  > .thumb.-lg {
    @include mappy-query(tablet) {
      padding-bottom: 47rem;
    }
    @include mappy-query(desktop) {
      padding-bottom: 47rem;
    }
    @include mappy-query(tv) {
      padding-bottom: 68.2rem;
    }
  }

  > .thumb.-wide {
    @include mappy-query(tv) {
      padding-bottom: 33rem;
    }
  }


  // Thumb portrait
  //----------------------------------
  > .thumb.-portrait {
    padding-bottom: 50rem;

    @include mappy-query(tablet) {
      padding-bottom: 48rem;
    }

    @include mappy-query(tv) {
      padding-bottom: 35rem;
    }
  }
}


.img-feature.-product {
  // Thumb content
  //----------------------------------
  > .content {
    @extend %text-box;
    @extend %text-box.-product;
  }

  > .thumb > .overlay-action > .action {
    margin-top: 20rem;

    @include mappy-query(tv) {
      margin-top: 15rem;
    }
  }

  &:hover > .thumb > .overlay-action {
    background-color: rgba($midnight, .4);
  }

  &:hover > .thumb > .overlay-action:before {
    transform: translate(-40%, -50%) rotate(45deg);
  }

  &:hover > .thumb > .overlay-action > .action {
    opacity: 1;
  }
}