.img-thumb {
  @include clearfix();
  position: relative;
  margin-bottom: 1rem;

  > .img {
    @include clearfix();
    height: 0;
    overflow: hidden;
  }

  > .content {
    bottom: 0;
    position: absolute;
    z-index: 100;
    padding-bottom: 3rem;
    padding-left: 2rem;

    @include mappy-query(tv) {
      padding-bottom: 3rem;
      padding-left: 4.2rem;
    }
  }

  > .overlay {
    @extend %block-content;
    @include size(100%, 100%);
    border: 3px solid rgba($white, .8);
    z-index: 99;
    transition: all .5s ease;
  }

  &:hover > .overlay {
    background-color: rgba($midnight, .8);
    transform: scale(.95, .95);
  }
}

.img-thumb.-lg {
  > .img {
    padding-bottom: 23rem;

    img {
      transform: translateY(0);
    }

    @include mappy-query(tv) {
      padding-bottom: 68rem;
    }
  }
}

.img-thumb.-sm {
  > .img {
    padding-bottom: 23rem;

    img {
      transform: translateY(0);
    }

    @include mappy-query(tv) {
      padding-bottom: 34.2rem;
    }
  }
}

.img-thumb.-wide {
  > .img {
    padding-bottom: 23rem;

    img {
      transform: translateY(0);
    }

    @include mappy-query(tv) {
      padding-bottom: 33rem;
    }
  }
}