%list-item {
  padding-left: 0;
  list-style: none;

  li {
    display: block;
    float: left;
    margin-right: .5rem;
  }

  > li > a > .glyphicon {
    padding: 1rem;
  }

  &.-invert > li > a {
    display: block;
    color: $white;
  }
}

.icon-lists {
  @include clearfix();
  @extend %list-item;
  display: block;

  > li > a {
    color: rgba(gray, .6);
  }
}
