.menu-bar {
  @include clearfix();
  background-color: $white;
  border-bottom: 1px solid rgba($black, .1);
  height: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;

  &.-fixed {
    position: fixed;
  }

  > .brand {
    display: block;
    float: left;
    margin-right: .6rem;
    padding: 2.3rem .8rem;
    border: 0;

    h1 {
      font-size: .8em;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  > .menu {
    @include clearfix();
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  > .menu.-desktop {
    display: none;
    float: left;
  }

  > .menu.-user {
    display: block;
    float: right;
    margin-top: .7rem;
    position: relative;
  }

  > .menu > .button:not(:last-child) {
    margin-right: .5rem;
  }

  li {
    float: left;
  }

  li > a {
    text-decoration: none;
  }

  @include mappy-query(tv) {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
