.modal {
  z-index: 10002;
  &.-fullscreen > .modal-dialog {
    bottom: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.-fullscreen {
    .modal-content {
      border: 0;
      border-radius: 0;
      box-shadow: 0;
      height: 100%;
      overflow-y: scroll;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .close {
      line-height: 0;
      margin-top: 1rem;
      margin-right: .5rem;
    }
  }

  @include mappy-query(tablet) {
    .modal-body > .main {
      margin-top: 13rem;
    }
  }

  @include mappy-query(tv) {
    .modal-body > .main {
      margin-top: 18rem;
    }
  }
}

.modal-open {
  overflow: hidden !important;
}

