.preloader-block,
.svgloader {
  opacity: 1;
}

.preloader-block {
  @include size(100%, 100%);

  align-items: center;
  background: {
    color: $midnight;
  }
  display: flex;
  justify-content: center;

  > .svgloader {
    @include size(20em, 20em);
  }
}

