.product-slider {
  margin-bottom: 3rem;
  // Title
  > .header {
    @extend %text-box;
    @extend %text-box.-headline;
    text-align: center;
    margin: 0 auto 5rem;
    width: 100%;

    @include mappy-bp(medium) {
      width: 60%;
    }
  }
}
