.section-block {
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;

  // Paper background
  &.-paper {
    background-color: $light-gray;
  }

  &.-sm {
  	padding-top: 3rem;
  	padding-bottom: 3rem;
  }

  &.-dark {
  	background-color: $midnight;
  	color: $white;
  }
}
