// =================================
// Textbox defaults
//==================================
.text-box {
  padding: 1rem;
  position: relative;
  width: 100%;

  // Textbox title
  > .title > .hilight {
    display: block;
    font-size: .9em;
    font-weight: 800;
    @include mappy-query(tv) {
      font-size: 1.2em;
    }
  }

  // Textbox meta
  > .meta {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  //--------------------------
  // Small textbox

  // Title
  &.-sm > .title {
    font-size: 1.8em;
  }

  // Hilight
  &.-sm > .title > .hilight {
    font-size: 1em;
    @include mappy-query(tv) {
      font-size: 1.2em;
    }
  }
}




// =================================
// Textbox detail placeholder
//==================================
%text-box.-imgcaption {
  position: absolute;
  bottom: 0;
  z-index: 999;
}
