// =================================
// Textbox defaults
//==================================
%text-box {
  padding: 1rem;
  position: relative;

  > .title > .hilight {
    display: block;
    font-size: .9em;
    font-weight: 800;
    @include mappy-query(tv) {
      font-size: 1.2em;
    }
  }

  > .title > .special {
    font-size: 2.5em;
  }

  // Textbox meta
  > .meta {
    font-size: 1.5em;
    margin-bottom: 0;
  }

}

.text-box.-subscribe {
  @extend %text-box;
  padding-left: 1rem;
  padding-right: 1rem;

  .form-group {
    margin-bottom: 0;
  }

  input {
    width: 60%;
    float: left;
    margin-right: 2rem;
  }

  button {
    float: left;
  }

  @include mappy-bp(large) {
    border: 1px solid rgba($black, .2);
    height: 100%;
    position: absolute;
    right: 0;
    padding: 3rem;
  }
}



// =================================
// Textbox detail placeholder
//==================================
%text-box.-product {
  text-align: center;
  > .rating {
    display: block;
    font-size: 2em;
    color: $sun;
  }

  > .price {
    display: inline-block;
    font-size: 2em;
    position: relative;

    &:before {
      @include size(1em, auto);
      display: inline-block;
      content: '$';
      position: absolute;
      left: -30px;
    }
  }
}


// =================================
// Textbox detail placeholder
//==================================
%text-box.-imgcaption {
  position: absolute;
  bottom: 0;
  z-index: 999;

  //--------------------------
  // Small textbox

  // Title
  &.-sm > .title {
    font-size: 1.8em;
  }

  // Hilight
  &.-sm > .title > .hilight {
    font-size: 1em;
    @include mappy-query(tv) {
      font-size: 1.2em;
    }
  }
}


// =================================
// Textbox with headline
//==================================
%text-box.-headline {

  &:before,
  &:after {
    @extend %block-content;
    @include size(100%, 1px);
    background-color: $black;
    top: 2.8rem;
    width: 10%;
  }

  &:before {
    left: 5%;
  }

  &:after {
    right: 5%;
  }

  // Textbox title
  > .title {
    display: inline-block;
    line-height: 1;
    position: relative;

    &:before,
    &:after {
      @extend %block-content;
      background-color: $black;
    }

    &:before,
    &:after {
      @include size(15px, 15px);
      border-radius: 50px;
      top:0;
    }

    &:before {
      left: -30px;
    }

    &:after {
      right: -30px;
    }
  }
}
