// PLACEHOLDER
%block-content {
  display: block;
  content: '';
  position: absolute;
}

%center-elem {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

// BREAKPOINT SETUP
$breakpoints: (
  'small': 481px,
  'medium': 768px,
  'large': 1024px
);

// You can use and valid arguments inserted into mappy-bp as the map values. Any of the following would do
$mappy-queries: (
  'phone': mappy-bp(h max-height small),
  'tablet': mappy-bp(small large),
  'desktop': mappy-bp(1024px 1200px),
  'tv': mappy-bp(1200px)
);


// BASE COLOR
$black: #333;
$elegant-blue: #0c4e6e;
$light-gray: #eee;
$light-pink: #ff3073;
$gray: #848484;
$midnight: #222428;
$pink: #f52b76;
$sun: #ffac30;
$warm-blue: #1b384c;
$warm-sun: #f3e975;
$warm-pink: #ff0c9e;
$white: #fff;

// FONT COLOR
$h-font: $black;
$p-font: $gray;
