$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// BASE COLOR
$black: #333;
$gray: #848484;
$midnight: #222428;

// FONT COLOR
$h-font: $black;
$p-font: $gray;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// import all scss

// base
@import 'bases';

// Components
@import 'helpers';
@import 'owl-slider';
@import 'preloader-block';
